/* Dev By SystemeRubis */

/* Defaut left position */

header, [data-PreviewsContent],
[data-LogosSpace],[data-LogosIMG],
[data-TitleLogos], [data-PreviewContentBG],
[data-MainPreviewContent], [data-Cut50_50width], 
[data-MainPreviewDisplay]{

    margin-top: 0px;
    margin-left: 0px;
    float: left;

}