/* Dev By SystemeRubis */

/* Main Element */

body{

    background-color: #1f1e21;
    color: white;

}

/* Custum Element */

/* Header */

header{

    height: 40px;
    background-color: #d39b58;   
    border-bottom: 1px solid white;

}